*{
  box-sizing: border-box;
}
body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.App{
  text-align: center;
  border-radius: 5px;
  background-color: #f44336;
  padding: 30px 40px;
  color: white;

}
.task-lists{
  width:500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  
}
.done{
  text-decoration: line-through;
  
}
.input-add {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  font-size: 16px;
}
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
}
.add-form{
  display: flex;
}
.addBtn:hover {
  background-color: #bbb;
}
.list-tasks{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-update{
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}
.list-tasks span{
  margin-left: 20px;
}
.list-tasks{
  margin:10px;
}
.list-option i{
margin: 5px;
cursor:pointer;
font-size: 25px;
}
.btn-update{

  padding: 12px;
  cursor:pointer;
  background-color:#32CD32;
  border: none;
  outline: none;

}